.AuthButton {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  margin: 1em 0.8em;
  color: #566472;
}

.AuthButton::before,
.AuthButton::after {
  content: '';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}

.AuthButton::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #566472;
  border-right-color: #566472;
}

.AuthButton::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #566472;
  border-left-color: #566472;
}

.AuthButton:hover::after,
.AuthButton:hover::before {
  width: 100%;
  height: 100%;
}