.AuthButton {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  border: 2px solid #60b0f4;
  border-radius: 0.3em;
  color: #2255e0;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-image: -webkit-linear-gradient(45deg, #60b0f4 50%, transparent 50%);
  background-image: linear-gradient(45deg, #60b0f4 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 500ms ease-in-out;
  transition: color 500ms;
  -webkit-transition: color 500ms;
}

.AuthButton:hover,
.AuthButton:focus {
  outline: 0;
}

.AuthButton:hover {
  background-position: 0;
  color: #fff;
}