@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');

.Header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
}

.Logo {
  font-family: 'Passion One', cursive;
  border:1px solid black;
}

.LogoImage {
  width: 70%;
}

.AuthButtonContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #00f;
}

@media screen and (min-width: 992px) {
  .AuthButtonContainer {
    flex-direction: row;
  }
}